:root{
  --background-color: black;
  --main-text-color: white;
  --scondary-text-color: grey;
  --border-color:orange;
}

*{
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

body{
  background-color: var(--background-color);
  color: var(--main-text-color)
}

header{
  border-bottom:1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index:100;
  background-color: var(--background-color);
}


.header-nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.header-nav__logo{
  max-width: 80px;
  max-height: 80px;
}

.header-nav__link{
  display:flex;
  gap:3rem;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav__title{
  font-size: 2rem;
  text-decoration: none;
  color:var(--main-text-color);
}
.header-nav-list{
  display:flex;
  gap: 1rem;
  list-style: none;
  flex-wrap:wrap;
}
.header-nav-list-item a{
  text-decoration: none;
  color:var(--scondary-text-color);
}
.header-nav-list-item a:hover{
  text-decoration: none;
  color:var(--main-text-color);
}

.section__title{
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
}

.products-section{
  display: flex;
  justify-content: space-around;
  border:1px solid var(--border-color);
  padding:2rem;
  max-width: 80%;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

.product-article-section{
  margin: 2rem;
  text-align: center;
}
.product-article-section__img{
  border: 0.2rem solid orange;
  border-radius: 0.5rem;
}
.product-article-section__subtitle-white{
  font-size:1.5rem;
}
.product-article-section__description-grey{
  font-size:1rem;
  color: var(--scondary-text-color)
}
.our-history-section{
  display: flex;
  justify-content: space-around;
  border:1px solid var(--border-color);
  padding:2rem;
  max-width: 80%;
  margin: 2rem auto;
  border-radius: 0.5rem;
  gap: 2rem;
}
.our-history-section__img{
  border: 0.2rem solid orange;
  border-radius: 0.5rem;
}

.our-history-section-details__title-white{
  font-size:1.5rem;
}

.our-history-section-details__description-grey{
  font-size:1rem;
  color: var(--scondary-text-color)
}

.opinions-section{
  display: flex;
  justify-content: space-around;
  border:1px solid var(--border-color);
  padding:2rem;
  max-width: 80%;
  margin: 3rem auto;
  border-radius: 0.5rem;
  gap: 2rem;

}
.opinion-section-article{
  border-left:0.3rem solid var(--border-color);
  padding:1rem;
  border-radius:1rem;
}
.opinions-section_title-white{
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
}
.opinion-section-article_description-grey{
  font-size:1rem;
  color: var(--scondary-text-color)
}

.footer{
  border-top:1px solid var(--border-color);
  display:flex;
  background-color: var(--background-color);
  color:var(--main-text-color);
  justify-content: space-around;
  align-items: center;
}
.footer-comments{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:2rem;
}

.footer-comments__img{
  max-width:80px
}
.footer-comments__text{
  text-align: center;
}

.footer-social-network{
  display:flex;
  gap:0.5rem;
}
.footer-social-network__img{
  max-width: 30px;
  max-height:30px;

}

.footer-politics-list{
  display:flex;
  gap:2rem;
  flex-wrap:wrap;
}

.footer-politics-list-item{
  list-style: none;
}

.politics-list-item__link{
  text-decoration: none;
  color:var(--scondary-text-color);
}

.politics-list-item__link:hover{
  text-decoration: none;
  color:var(--main-text-color);
}
.sub-footer-all-rights-comments__text{
  text-align: center;
  font-size:0.6rem;
  color:var(--scondary-text-color)
}

.our-team-section__title-white{
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
}
.our-team-section{
  display: flex;
  justify-content: space-around;
  border:1px solid var(--border-color);
  padding:2rem;
  max-width: 80%;
  margin: 2rem auto;
  border-radius: 0.5rem;
}
.our-team-section-article{
  margin: 2rem;
  text-align: center
}

.our-team-section-article__img{
  border: 0.2rem solid orange;
  border-radius: 0.5rem;
  max-width: 15rem;
}

.our-team-section-article__title{
  font-size:1.5rem;
}

.our-team-section-article__description{
  font-size:1rem;
  color:var(--scondary-text-color)
}

.contact-form{
  max-width: 60%;
  margin: 0 auto;
}

.contact-form__title{
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
}
.contact-form__label{
  color: var(--main-text-color);
  font-size: 1.2rem;
  margin-bottom:1.5rem;
  border-radius: 0.5rem;
}
.contact-form__input{
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.3rem;
  width: 100%;
  margin-top:1rem;
  margin-bottom:1.5rem
}
.contact-form-radio-option__label{
  color: var(--scondary-text-color)
}

.contact-form-fieldset{
  color: var(--border-color);
  border-radius: 0.3rem;
}
.contact-form-checkbox__label{
  color: var(--scondary-text-color)
}

.contact-form-button__submit{
  margin: 1rem;
  background-color: rgb(251, 178, 42);
  color:var(--main-text-color);
  border-radius:0.5rem;
  padding:0.8rem

}

.contact-form-button__submit:hover{
  background-color: var(--border-color);
}
@media screen and (max-width: 1200px){
  .products-section{
    flex-wrap: wrap;
  }
  .our-history-section{
    flex-wrap:wrap;
  }
  .opinions-section{
    flex-wrap:wrap;
  }
  .our-team-section{
    flex-wrap: wrap;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color:var(--scondary-text-color)
}

.container-section-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-section-video__video,
.container-section-video-details {
  flex: 1;
}


.container-section-video__video {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.container-section-video-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.container-section-video-details__tittle {
  text-align: left;
  text-decoration: underline orange;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container-section-video-details__description {
  color: var(--scondary-text-color);
  font-size: 1.1rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container-section-video {
    flex-direction: column;
    text-align: center;
  }

  .container-section-video-details {
    padding: 0;
  }
}